.card-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

h1{
    text-align: center;
}

.card-img-top{
    max-height: 150px;
}

.card{
    margin : .5rem;
    box-shadow: 2px 2px 5px silver;
    transition: transform 300ms;
}

.card:hover{
    transform: scale(1.1);
}