.card-container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1{
    text-align: center;
}

.card-img-top{
    max-height: 150px;
}

.card{
    min-height: 290px;
    margin : .5rem;
    box-shadow: 2px 2px 5px silver;
    transition: transform 300ms;
}

.card:hover{
    transform: scale(1.1);
}

.displayFlex{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

p{
    margin : 0;
}

.displayFlex p{
    margin: 0 .5rem auto 0;
}

.selector{
    width: 70%;
    margin : auto;
}